@import '../variables.scss';

body {
    --colour: #{$purple};
    --background: #{$cream};

    background: var(--background);
    color: $grey;
    font: $font_regular;
      font-size: 1.2em;
      line-height: 1.4;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
      max-width: 100vw;
}

h1 {
    font: $font_headings;
    font-size: 4em;
}
  
a {
    color: $grey;

    &:active, &:hover, &:focus {
        font: $font_bold;
    }
}

button, .btn {
    background: transparent;
    border: 3px solid var(--colour);
    color: $grey;
    cursor: pointer;
    display: inline-block;
    font-size: 2em;
    padding: 10px 20px;

    &:active, &:hover, &:focus {
        background: var(--colour);
        color: $grey;
    }
}

img {
    max-width: 100%;
}

.content {
    &.main {
        display: grid;
            align-items: center;
            justify-items: center;
            grid-template-rows: 2fr 1fr;
        height: 100vh;
        margin: 0 auto;
        padding: 50px;
        position: relative;
        max-width: 1500px;

        h1 {
            justify-self: flex-start;
        }
    }
}

#adjective {
    border-bottom: 4px solid rgba($grey, 0.4);
    display: inline-block;
    line-height: 0.8;
    overflow: visible;
    padding: 5px 30px;
    text-shadow:
        2px 2px var(--background),
        2px -2px var(--background),
        -2px 2px var(--background),
        -2px -2px var(--background);
    min-width: 600px;
}

.about {
    position: absolute;
        right: 0;
        bottom: 0;

    #about {
        background: $grey_light_10;
        border: 2px solid $grey;
        display: none;
        height: 60vh;
        overflow-y: scroll;
        padding: 40px;
        position: fixed;
            top: 20vh;
            left: 25vw;
        width: 50vw;


        &:target {
            display: block;
        }

        .close {
            position: absolute;
                top: 20px;
                right: 20px;
        }
    }
}